database/src/main/mule/database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2c69be1-9ae2-4ed6-9297-3008b0c1efde" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="25707941-a40d-4415-8f89-4b34d89bee03" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="demo1" />
	</db:config>
	<flow name="databaseFlow" doc:id="e4f71ddd-2b1a-49b7-8ed9-50165cd83b09" >
		<http:listener doc:name="Listener" doc:id="2d7d24fb-0e0e-4aff-a248-4aae7865e1bc" config-ref="HTTP_Listener_config" path="/insertdatabase"/>
		<logger level="INFO" doc:name="Logger" doc:id="580927f8-765d-48ac-a6fc-ebeb9127daa3" message="flow started"/>
		<db:insert doc:name="Insert" doc:id="a2e4f4bb-178b-477b-bc8c-503aeb813c75" config-ref="Database_Config">
			<db:sql ><![CDATA[insert Persons( PersonID,LastName,FirstName,Address,City) values(:personid, :Lastname, :Firstname, :Address , :City)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
personid :payload.PersonID,
Lastname : payload.LastName,
Firstname: payload.FirstName,
Address : payload.Address,
City:payload.City
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="30f5a0a8-313d-45a7-985e-ee4d9a10a5a4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Status:200,
	message:"Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
