database/src/main/mule/get_detail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get_detailFlow" doc:id="3ebf3393-3139-4919-bc9a-4d2a9dfdd064" >
		<http:listener doc:name="Listener" doc:id="f165f92f-b1c1-4dc0-b7cd-1191352a05d1" config-ref="HTTP_Listener_config" path="/getdatabase"/>
		<db:select doc:name="Select" doc:id="d9d8e2df-4d0a-4af1-910b-a52129edef58" config-ref="Database_Config">
			<db:sql ><![CDATA[select PersonID,LastName,FirstName,Address,City from Persons where  PersonID = :PersonsID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
   PersonsID:attributes.queryParams.PersonID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="99913e6e-d9b1-4b50-9876-1adbf177a654" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"PersonID":payload[0].PersonID,
   "LastName":payload[0].LastName,
    "FirstName":payload[0].FirstName,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
